/* Navbar style */

.navbar-default{
  background: #504a85;
  color: #c0c0c0;
}

.navbar-brand, navbar-nav li a {
    line-height: 100px;
    height: 100px;
    padding-top: 0;
}

.navbar-default .navbar-text {
  color: #c0c0c0;
}

/* General overwritten style */

.page-header{
  margin: 0px 0 20px;
}

.breadcrumb{
  margin: 0px; 
}

.progress{
  margin: 10px 0px;
}

.btn-primary{
  background-color: #504a85;
  background-image: none;
}

/* Our styles */

body{
  background-image: url("../img/bg.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

a{
  color: #504a85;
  font-weight: bold;
}

.profile_photo img{
  height: 125px;
}

.input_game{
  width: 100px;
}

.input_game.has-success{
  border-color: green;
  outline: 0 none;
}

.input_game.has-error{
  border-color: red;
  outline: 0 none;
}

.tick{
  display: none;
}

#footer .footer_left{
  float: left;
}

#footer .footer_right{
  float: right;
}

.ask_the_bear img{
  border: 2px solid #504a85;
}

.ask_the_bear img:hover{
  box-shadow: 0px 0px 10px black;  
}

.bubble { 
  position: relative;
  background-color: #eee;
  margin: 0;
  padding: 31px;
  text-align: center;
  width: 450px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  box-shadow: 0px 0 3px rgba(0,0,0,0.25);
  min-height: 84px;
  margin-right: 15px;
}