<div class="page-header">
	<ol class="breadcrumb">
		<span class="badge"><img src="/img/honeycomb_rewards.png"/> <span id="n_honeycombs">1</span>/10</span>
		<li><h4>The story of Hansel and <%= @user.name%></h4></li>
		<li><a href="/intro">Intro</a></li>
		<li><a href="/dress">Dress</a></li>
		<li class="active">Breadcrumbs</li>
	</ol>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="media">
			<div class="media-body">
				<h3>So they don’t lose their way, Hansel and Ellie drop breadcrumbs as they walk.</h3>

				<h3>
				They need <b>1</b> breadcrumb for every <b>5</b> steps they take.<br/>
				It takes <b>30</b> steps to get to the end of the path.
				</h3><br/>
				<h3><b>If</b> they drop <b><=</b> <input type="text" class="input_game" id="bc_answer_less"/> breadcrumbs <b>then</b> they haven’t got far enough.<img src="/img/green-check-mark.png" id="bc_answer_less_tick" class="tick"/></h3>
				<h3><b>If</b> they drop <b>=</b> <input type="text" class="input_game" id="bc_answer_equal"/> breadcrumbs <b>then</b> they get to the house.<img src="/img/green-check-mark.png" id="bc_answer_equal_tick" class="tick"/></h3>
				<h3><b>Else</b> they have gone too far.</h3>
			</div>
			<div class="media-right">
				<img src="img/breadcrumbs.png" height="300" width="250" >
			</div>
		</div>
	</div>
</div>

<a id="bc_btn_answer" class="btn btn-primary btn-lg" role="button">Throw breadcrumbs!</a>
<a id="bc_btn_continue" class="btn btn-primary btn-lg" role="button"></a>

<script type = 'text/javascript'>
	jQuery(document).ready(function(){
		jQuery("#ask_the_bear span").text("You can win two Honeycombs in this one, good luck!");

		jQuery('#try').on('click', function(){
	    	$('#the-image').css('background-color', '#1a5ba6');
	  	});

		jQuery("#ask_the_bear span").text("Do you need help?").css('font-size', "18pt");
	});
</script>
