<p> First <%= @user.name%> tries on all of her dresses.</p>

<p> Type the dress color you want below! blue, green, white, red </p>
<p id="dress_image"><img src="/img/dress.jpg" height="150" width="100" >
	<form action="/dress_color" method="POST" >
	<label for="color">var dressColor = </label> <input type="text" name="color_input">
	<span><input type="submit" value="Try it on!" class="button" id="color_input"></span>
	</form>
</div>

<p> The computer will remember <%= @user.name%>'s dress color by using a variable called "dressColor".</p>

<p>If you are happy with this dress colour, click <a href="/breadcrumbs">next</p></a>

<script>
var dressChoice=0;
$(document).ready(function(){

	if (dressChoice=0){$('#dress_image').hide()};

	$('#color_input').on('click', function(){
    	$('#dress_image').show();
    	dressChoice +=1;
  	});

});
</script>

