<p> First <%= @user.name%> tries on all of her dresses.</p>

<p>Ellies tries on the ___ dress.</p>
<p>Next Ellie tries on the __ dress.</p>
<p>Last of all Ellie tries on the __ dress.</p>

<p> The computer will remember <%= @user.name%>'s dress color by using a variable. Try writing the dress colours!</p>

<p><a href="/breadcrumbs">Next</p></a>
