<p> First <%= @user.name%> tries on all of her dresses.</p>
<p> The computer will remember <%= @user.name%>'s dress color by using a variable. Try writing the dress colours!</p>

<p> variable dress = </p>
