<div class="page-header">
	<ol class="breadcrumb">
		<span class="badge"><img src="/img/honeycomb_rewards.png"/> <span id="n_honeycombs">2</span>/10</span>
		<li><h4>The story of Hansel and <%= @user.name%></h4></li>
		<li><a href="/intro">Intro</a></li>
		<li><a href="/dress">Dress</a></li>
		<li><a href="/breadcrumbs">Breadcrumbs</a></li>
		<li class="active">Got lost!</li>
	</ol>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<h3>Hansel and <%=@user.name%> got lost!</h3>
		<h4>They were not able to find the house and decided to come back home. They felt they were very close to find something amazing...</h4>
		<h5>This is the end of their adventure</h5>
	</div>
</div>

<a id="bc_btn_answer" class="btn btn-primary btn-lg" role="button">Create this adventure <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></a>

<script type = 'text/javascript'>
	jQuery(document).ready(function(){
		jQuery("#ask_the_bear span").text("There are still missing Honeycombs, don´t give up!");
	});
</script>