<p>Hansel and Ellie reach a house covered in candy. They knock on the door to see who lives inside.</p>










<p>Hansel and Ellie have to keep knocking until the door opens.</p>

<p><a href="/results">Next</a></p>