<h4>Hello <%= @user.name%>!</h4>
<h4>Pick a story!</h4>

<h4>Today's story</h4>

<a href="/intro"><p> Hansel and <%= @user.name%> </a></p> 
<div class="meter nostripes">
	<span style="width: 25%"></span>
</div>

<a href="/not_available"><p><%= @user.name%>, the Little Red Riding Hood </a></p>
<a href="/not_available"><p><%= @user.name%> and the three bears </a></p>



