<div class="page-header">
	<ol class="breadcrumb">
		<span class="badge"><img src="/img/honeycomb_rewards.png"/> <span id="n_honeycombs">1</span>/10</span>
		<li><h4>Hansel and <%= @user.name%></h4></li>
		<li class="active">Intro</li>
	</ol>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<p>Hansel and <%= @user.name%> are planning to go for a walk in the forest. They love to explore!</p>
		<p>What are they going to find today?</p>
	</div>
</div>

 <div class="center-block">
 	<a class="btn btn-primary btn-lg" href="/dress" role="button">Get started!</a>
 </div>

<script type = 'text/javascript'>
	jQuery(document).ready(function(){
		jQuery("#ask_the_bear span").text("Let's get started and try to find all the Honeycombs!");
	});
</script>


