<div class="page-header">
	<ol class="breadcrumb">
		<span class="badge"><img src="/img/honeycomb_rewards.png"/> <span id="n_honeycombs">1</span>/10</span>
		<li><h4>The story of Hansel and <%= @user.name%></h4></li>
		<li class="active">Intro</li>
	</ol>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<h3>Hansel and <%= @user.name%> are planning to go for a walk in the forest. They love to explore!</h3>
		<h3>What are they going to find today?</h3>
		<img src="/img/forest.png" width="100%" />
	</div>
</div>

<div>
 	<a class="btn btn-primary btn-lg btn-centered" href="/dress" role="button">Get started!</a>
</div>


<script type = 'text/javascript'>
	jQuery(document).ready(function(){
		jQuery("#ask_the_bear span").text("Let's try to find all the Honeycombs!").css('font-size', "18pt");
	});
</script>


.